@font-face{
	src: url(../font/Poppins.ttf);
	font-family: poppins;
}
::-webkit-scrollbar{
	background-color: #f6f6f6;
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background-color: #081ff7;
	border-radius: 100px;
}
:root{
	--font-black: #000000;
	--theme-blue: #081ff7;
	--theme-white: #ffffff;
}
*{
	padding: 0;
	margin: 0;
	font-family: poppins;
}
html, body{
	height: 100%;
}

nav{
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 12px;
}
nav > .left{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav > .left > h1{
	margin-left: 12px;
	font-size: 1.2em;
}
nav > .left > img{
	height: 50px;
}
nav > .left > .menu{
	display: none;
}
nav > .right{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: 0;
}
nav > .right > a{
	margin-left: 30px;
	text-decoration: none;
	color: var(--font-black);
	transition: ease-in-out .2s;
	font-size: .9em;
}
nav > .right > a:hover{
	color: var(--theme-blue);
}
nav > .right > a > img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	cursor: pointer;
}
nav > .right > .a-register{
	background-color: var(--theme-blue);
	padding: 7px 27px;
	border-radius: 7px;
	color: var(--theme-white);
	font-weight: bolder;
	font-weight: normal;
	box-shadow: inset 0 0 0 0 var(--theme-white);
	transition: ease-in-out .2s;
}
nav > .right > .a-register:hover{
	box-shadow: inset 0 0 100px 0 var(--theme-white);
}

@media(max-width: 768px){
	nav{
		display: block;
	}
	nav > .left > .menu{
		display: flex;
		margin-left: auto;
		margin-right: 0;
		height: 25px;
	}
	nav > .right{
		display: none;
	}
	nav > .right > a{
		display: block;
		margin: 12px 0;
	}
	nav > .right > .a-register{
		text-align: center;
	}
}

.wrap{
	border: 1px solid red;
	width: fit-content;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}
.wrap > h2{
	text-align: center;
	font-weight: normal;
	color: var(--theme-blue);
}
.wrap > form > div > p{
	margin-top: 25px;
	margin-bottom: 3px;
	font-size: .7em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
}
.invalid-feedback{
	color: #dc3545;
	text-transform: uppercase;
	font-size: .8em;
	display: block;
	text-align: center;
}
.valid-feedback{
	color: green;
	text-transform: uppercase;
	font-size: .8em;
	display: block;
	text-align: center;
}
.wrap > form > div > .form-control{
	width: calc(300px - 14px);
	padding: 7px;
	outline: none;
	border: 1px solid rgba(0,0,0,0.1);
}
.wrap > form > div > .btn{
	width: 300px;
	padding: 7px;
	outline: none;
	border: none;
	margin-top: 25px;
	font-size: .8em;
	cursor: pointer;
	text-transform: uppercase;
	background-color: var(--theme-blue);
	color: var(--theme-white);
	border-radius: 7px;
}
.wrap > form > div > .left > a,
.wrap > form > div > .right > a{
	text-decoration: none;
	margin-top: 7px;
	font-size: .8em;
	color: var(--theme-blue);
}
.wrap > form > .form-flex{
	display: flex;
}
.wrap > form > .form-flex > .right{
	margin-left: auto;
	margin-right: 0;
}

@media(max-width: 768px){
	.wrap{
		width: calc(90% - 40px);
	}
	.wrap > form > div > .form-control{
		width: calc(100% - 14px);
	}
	.wrap > form > div > .btn{
		width: 100%;
	}
}


.account{
	display: flex;
	min-height: 100%;
}
.account > .left{
	min-height: 100%;
	border-right: 1px solid rgba(0,0,0,0.1);
	width: calc(20% - 40px);
	padding: 20px;
	overflow: auto;
}
.account > .right{
	min-height: 100%;
	width: calc(80% - 40px);
	padding: 20px;
	overflow: auto;
}
.account > .left > div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.account > .left > div > .left > h1{
	font-size: 1em;
}
.account > .left > div > .right{
	margin-left: auto;
	margin-right: 0;
}
.account > .left > div > .right > a{
	background-color: var(--theme-blue);
	padding: 5px 12px;
	color: var(--theme-white);
	display: block;
	text-decoration: none;
	font-size: .8em;
	border-radius: 7px;
}
.account > .left > div > .right > a > img{
	height: 12px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(0%) hue-rotate(358deg) brightness(116%) contrast(101%);
}
.account > .left > input{
	width: calc(100% - 10px);
	padding: 5px;
	margin-top: 10px;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.1);
}
.repository-list{
	margin-top: 20px;
}
.repository-list > div{
    border: 1px solid rgba(0,0,0,0.1);
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    display: grid;
    grid-template-columns: auto; 
    border-radius: 5px;
}
.repository-list > div > a{
	text-decoration: none;
	color: var(--theme-blue);
	font-size: .8em;
	text-align: left;
	display: block;
	font-size: .8em;
}
.repository-list > div > a:hover{
	text-decoration: underline;
}


.account > .right > .package > img{
	height: 70px;
	display: block;
	margin: auto;
}
.account > .right > .package > h1{
	text-align: center;
	margin-top: 10px;
	font-size: 1.5em;
	opacity: .9;
}
.account > .right > .package > h3{
	margin-top: 80px;
	text-align: center;
	font-weight: normal;
	opacity: .8;
}
.account > .right > .package > p{
	text-align: center;
	opacity: .7;
}
.account > .right > .package > .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}
.account > .right > .package > .grid-3 > .grid-item{
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 7px;
	padding: 15px;
}
.account > .right > .package > .grid-3 > .grid-item > h1{
	font-size: 1.2em;
	color: var(--theme-blue);
}
.account > .right > .package > .grid-3 > .grid-item > p{
	font-size: .8em;
	margin-top: 10px;
}
.account > .right > .package > .grid-3 > .grid-item > a{
	text-decoration: none;
	font-size: .8em;
	display: block;
	margin-top: 15px;
	background-color: var(--theme-blue);
	color: var(--theme-white);
	width: fit-content;
	padding: 5px 12px;
	border-radius: 7px;
}

#modal{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#modal > .modal-bx{
	background-color: var(--theme-white);
	width: calc(50% - 40px);
	padding: 20px;
	border-radius: 12px;
	border: 1px solid var(--theme-blue);
	margin: auto;
}
#modal > .modal-bx > button{
	padding: 7px 12px;
	background-color: var(--theme-blue);
	border-radius: 8px;
	border: none;
	outline: none;
	color: var(--theme-white);
	margin-top: 20px;
	cursor: pointer;
}
#modal > .modal-bx > .cancel{
	background-color: rgba(0,0,0,0.3);
}
#modal > .modal-bx > .mod-int{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#modal > .modal-bx > .mod-int > h1{
	font-size: 1.5em;
	font-weight: normal;
}
#modal > .modal-bx > .mod-int > p{
	font-size: .8em;
	opacity: .8;
	margin-bottom: 20px;
}
#modal > .modal-bx > .mod-setup{
	margin-top: 20px;
}
#modal > .modal-bx > .mod-setup > label > p{
	text-transform: uppercase;
	font-size: .7em;
}
#modal > .modal-bx > .mod-setup > p{
	font-size: .8em;
	margin-top: 10px;
	opacity: .8;
}
#modal > .modal-bx > .mod-setup > label > input{
	width: calc(100% - 14px);
	padding: 7px;
	outline: none;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 5px;
	margin-bottom: 10px;
}

.repo-path{
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
}
.repo-path > .left{
	display: flex;
	justify-content: center;
	align-items: center;
}
.repo-path > .right{
	margin-left: auto;
	margin-right: 0;
}
.repo-path > .right > a{
	text-decoration: none;
	font-size: .8em;
	background-color: var(--theme-white);
	padding: 7px 20px;
	border-radius: 50px;
	color: var(--theme-blue);
	transition: ease-in-out .2s;
}
.repo-path > .right > a:hover{
	background-color: var(--theme-blue);
	color: var(--theme-white);
}
.repo-path > .left > img{
	height: 17px;
	margin-right: 10px;
}
.repo-path > .left > a{
	font-size: 1em;
	text-decoration: none;
	color: var(--theme-blue);
}
.repo-path > .left > span{
	background-color: lightgreen;
	padding: 3px 10px;
	font-size: .7em;
	color: green;
	margin-left: 12px;
	border-radius: 5px;
}
.repo-dir{
	width: 90%;
	margin: auto;
	display: flex;
	margin-top: 30px;
	border-radius: 12px;
}
.repo-dir > .left{
	width: 70%;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 12px;
	overflow: hidden;
}
.repo-dir > .left > .dir-file{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
}
.repo-dir > .left > .dir-file > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
.repo-dir > .right > p{
	font-size: .9em;
	opacity: .8;
	line-height: 2;
}
.repo-dir > .left > .dir-file > div > img{
	height: 25px;
	margin-right: 7px;
}
.repo-dir > .left > .dir-file > div > a{
	text-decoration: none;
	font-size: .9em;
	color: black;
}
.repo-dir > .right{
	width: calc(30% - 40px);
	padding: 0 20px;
	word-break: break-word;
}
.repo-dir > .right > h1{
	font-size: 1em;
	font-weight: 600;
	opacity: .9;
}
.repo-dir > .right > i{
	font-size: .8em;
	opacity: .5;
	display: block;
	margin-bottom: 50px;
	margin-top: 10px;
}
.repo-dir > .right > .delete{
	display: flex;
	background-color: rgba(220, 53, 69, .1);
	color: #dc3545;
	border: 1px solid #dc3545;
	width: fit-content;
	text-decoration: none;
	padding: 7px 10px;
	font-size: .8em;
	margin-top: 10px;
	border-radius: 5px;
	transition: ease-in-out .2s;
	display: block;
	margin-bottom: 50px;
}
.repo-dir > .right > .delete:hover{
	background-color: #dc3545;
	color: var(--theme-white);
}
.repo-dir > .right > .link{
	color: var(--theme-blue);
	text-decoration: none;
	font-size: .9em;
}
.repo-dir > .right > .link:hover{
	text-decoration: underline;
}
.code-view{
	border: 1px solid rgba(0,0,0,0.1);
	width: 90%;
	margin: auto;
	margin-top: 30px;
	border-radius: 12px;
}
.code-view > .nav{
	padding: 20px;
}
.code-view > .nav > a,
.code-view > .nav > button{
	font-size: .9em;
	background-color: var(--theme-blue);
	text-decoration: none;
	color: white;
	padding: 7px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
pre{
	font-size: .8em;
}
.code-view > textarea{
	width: calc(100% - 40px);
	padding: 20px;
	outline: none;
	border: none;
	height: 500px;
}

.package-nav{
	padding: 20px;
}
.package-nav > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
.package-nav > div > h1{
	font-size: 1.4em;
	text-transform: capitalize;
	opacity: .9;
}
.package-nav > div > a{
	margin-right: 12px;
	text-transform: uppercase;
	font-size: .8em;
	text-decoration: none;
	color: var(--theme-blue);
}
.package-integrate{
	min-height: 100%;
	background-color: #f6f6f6;
	padding: 0 20px;
}
.package-integrate > h2{
	padding-top: 20px;
	font-size: 1.2em;
}
.package-integrate > p{
	opacity: .8;
	margin-bottom: 20px;
}
.form-endpoint{
	margin: 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-endpoint > div{
	width: 100%;
}
.form-endpoint > div > input{
	width: calc(100% - 20px);
	padding: 10px;
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0.05);
	font-size: 1em;
	color: rgba(0,0,0,0.5);
}
.form-endpoint > button{
	padding: 10px;
	border: none;
	outline: none;
	color: var(--theme-blue);
	background-color: rgba(8, 31, 247, .1);
	margin-left: 10px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 10px;
	border: 2px solid var(--theme-blue);
	transition: .2s;
}
.form-endpoint > button:hover{
	background-color: var(--theme-blue);
	color: var(--theme-white);
}
.form-endpoint > .disabled{
	opacity: .2;
}
.form-endpoint > .disabled:hover{
	background-color: rgba(8, 31, 247, .1);
	color: var(--theme-blue);
	border: 2px solid var(--theme-blue);
}
.success-mail{
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.success-mail > div > p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.success-mail > div > div{
	background-color: #f6f6f6;
	padding: 30px;
}
.success-mail > div > div > h1{
	font-size: 1.5em;
}
.success-mail > div > div > p{
	opacity: .8;
	font-size: .9em;
	margin-top: 10px;
}
.success-mail > div > p > img{
	height: 40px;
	margin: 0 10px;
}

.analytics{
	background-color: var(--theme-blue);
	padding: 20px;
}
.analytics > .analytics-nav > a{
	background-color: var(--theme-white);
	color: var(--theme-blue);
	padding: 7px 12px;
	border-radius: 100px;
	font-size: .8em;
	text-decoration: none;
}
.analytics > .analytics-nav > h1{
	font-size: 1.5em;
	color: var(--theme-white);
	margin-top: 20px;
}
.analytics > .grid-3{
	margin-top: 20px;
	margin-bottom: -50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
.analytics > .grid-3 > .grid-ana{
	background-color: var(--theme-white);
	border: 1px solid var(--theme-blue);
	border-radius: 10px;
	padding: 20px;
}
.analytics > .grid-3 > .grid-ana > p{
	font-size: .8em;
	text-transform: uppercase;
}
.analytics > .grid-3 > .grid-ana > h1{
	text-align: center;
	font-size: 3em;
}
.analytics-table{
	border: 1px solid red;
	width: calc(95% - 40px);
	padding: 20px;
	margin: auto;
	margin-top: 80px;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,0.5);
}
.analytics-table > p{
	font-size: 1.2em;
	font-style: italic;
	opacity: .6;
	font-weight: bold;
	color: var(--theme-blue);
}
.analytics-table > table{
	width: 100%;
	margin-top: 10px;
}
.analytics-table th{
	padding: 10px;
	font-size: .8em;
} 
.analytics-table td {
  padding: 8px;
  text-align: center;
  font-size: .8em;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #fff;
}